{% extends "base.html" %}
{% block content %}
<div class="auth-card">
    <h2>Creare cont operator radio</h2>
    <p class="muted">Fiecare utilizator are indicativ radio propriu.</p>
    <form method="post">
        <label>Username</label>
        <input name="username" placeholder="ex: operator1">

        <label>Parolă</label>
        <input name="password" type="password" placeholder="minim 4 caractere">

        <label>Indicativ radio</label>
        <input name="callsign" placeholder="ex: SMURD-21">

        <label>Unitate / Departament</label>
        <input name="unit" placeholder="ex: Punct operativ / SMURD / Pompieri">

        <button class="primary">Creează cont</button>
    </form>
</div>
{% endblock %}
